<header class="cont-header">

    <div class="btn-nav" for="linkNav" (click)="toggleMenu(barNav)">
        <div class="btn-nav__icon"></div>
    </div>

    <nav class="barnav" #barNav>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__link">Home</a>
        </div>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__link">Adopciones</a>
        </div>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__link">Galería</a>
        </div>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__link">Nosotros</a>
        </div>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__link">Tienda</a>
        </div>
        <div class="barnav__cont-link">
            <a href="#" class="barnav__btn-sesion">Iniciar sesión</a>
        </div>
    </nav>
</header>