<header class="cont-header">

    <div class="btn-nav" for="linkNav" (click)="toggleMenu(barNav)">
        <div class="btn-nav__icon"></div>
    </div>

    <nav class="barnav" #barNav>
        <div class="barnav__cont-link">
            <a href="/inicio" class="barnav__link">Home</a>
        </div>
        <div class="barnav__cont-link">
            <a href="/photos" class="barnav__link">Adopciones</a>
        </div>
        <div class="barnav__cont-link">
            <a href="/aboutus" class="barnav__link">About Us</a>
        </div>
        <div class="barnav__cont-link">
            <a href="/team" class="barnav__link">Team</a>
        </div>
        <div class="barnav__cont-link">
            <a href="/carrito" class="barnav__link">Tienda</a>
        </div>
        <div class="barnav__cont-link">
            <a href="/login" class="barnav__btn-sesion">Iniciar sesión</a>
        </div>
    </nav>
</header>