

input{
    width: 90%;
}
textarea{
    width: 90%;
}
.archivo{
    width: 90%;
}

.nombre{
       border: blue 1px solid;
}

.carta{
    border: 1px blue solid;    
}
.im{
    width: 25%;
text-align: center;    margin: auto;

}
@media(max-width:900px){
.img{
    width:50%;

}
h5{
    font-size: 20px;
}
}