.title {
    font-family: 'Sniglet', cursive;
    font-size: 2em;
    text-align: center;
    padding-top: .5em;;
    color: #5b5772;
}

.logo {

    &__img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        display: block;
    }
}

.cont-team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .card {
        border-radius: 4px;
        font-family: 'Caladea', serif;
        width: 20%;
        margin: 10px;
        background-color: #5b5772cc;
        border: 4px solid #5b5772;
        box-shadow: 0 2px 4px #00000056;
    
        &__picture {
            border-radius: 4px 4px 0 0;
            height: 200px;
            overflow: hidden;

            img {
                width: 100%;
            }
        }
    
        &__name {
            padding: .5em;   
            background-color: #acababcc;
            text-align: center;
            font-weight: bold;
        }
    
        &__rol {
            font-style: italic;
            text-align: center;
            padding: .5em;
            color: #2e2a47;
        }

        &:hover {
            transform: rotate(4deg);
            transition: ease-in-out .2s;
        }
    
    }
}

