<section>
    <div class="title">
        <p class="title__p">Equipo de trabajo App Lab</p>
        <img src="../../../assets/img/equipo_imgs/applabicon.jpg" alt="" class="title__img">
    </div>
    
    <div class="cont-team">
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/juanc.png" alt="">
            </div>
    
            <div class="card__name">
                Juan Francisco Cajiao C.
            </div>
    
            <div class="card__rol">
                Product Owner
            </div>
        </div>
    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/juand.png" alt="">
            </div>
    
            <div class="card__name">
                Juan David Mahecha C.
            </div>
    
            <div class="card__rol">
                Scrum Master
            </div>
        </div>
    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/arley.png" alt="">
            </div>
    
            <div class="card__name">
                Arley Castro V.
            </div>
    
            <div class="card__rol">
                Líder Técnico
            </div>
        </div>
    
    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/valen.png" alt="">
            </div>
    
            <div class="card__name">
                Laura Valentina Alarcón C.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>

        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/hosman.png" alt="">
            </div>
    
            <div class="card__name">
                Hosman Alberto Henao D.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>
    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/maria.png" alt="">
            </div>
    
            <div class="card__name">
                Mariayveth Ramos M.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>

    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/santiago.png" alt="">
            </div>
    
            <div class="card__name">
                Santiago Andrés Hernandez.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>
    
        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/gato.jpg" alt="">
            </div>
    
            <div class="card__name">
                Javier Soler
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>

        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/gato.jpg" alt="">
            </div>
    
            <div class="card__name">
                Santiago Linares A.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>

        <div class="card">
            <div class="card__picture">
                <img src="../../assets/img/equipo_imgs/gato.jpg" alt="">
            </div>
    
            <div class="card__name">
                Alejandro Guzmán B.
            </div>
    
            <div class="card__rol">
                Team Development
            </div>
        </div>
    </div>

</section>

