<!-- Footer -->
<footer class="page-footer font-small elegant pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">- Mapa y Contacto -</h5>
  
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15906.925652674343!2d-74.0650092!3d4.6419276!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf34837fe0c5507db!2sBIT%20-%20Cursos%20de%20Programaci%C3%B3n%20en%20Bogot%C3%A1!5e0!3m2!1ses-419!2sco!4v1584541129892!5m2!1ses-419!2sco" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  
          <address>Bogotá Institute of Technology.</address>
          <address>Bogotá, Colombia</address>
          <address>Tel: 30343434</address>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase text-center">- TERRA PET -</h5>
  
          <ul class="list-unstyled">
            <p>
              "Hasta que uno no ha amado a un animal, parte de su alma permanece dormida."
              
            </p>
  
            <img src="../../../assets/mari/perro2.jpg" class="img-fluid lighten-3 hoverable" alt="">
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3 text-center">
  
          <!-- Links -->
          <h5 class="text-uppercase text-center">- Nuestras Redes -</h5>
  
          <ul class="list-unstyled">
            <br>
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
          </ul>
  
          <br><br><br>
  
            <div class="">
            </div>
          
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© Copyright 2020. Bogotá Institute Of Technology.  Todos los Derechos Reservados.<br>
      <a href="#"> Bogotá Colombia</a>
    </div>
    <!-- Copyright -->
  
  </footer>