h1{
    color: black;
    font-family: fantasy;
}
h1 span{
    font-style: oblique;
    font-weight: 600;
}

.container{
    width: 100%;
    padding: 5px;
    display: flex;
}
.container .terra{
    width: 45%;
}
.container .app{
    width: 45%;
}

.imagen{
width: 100%;
}

img{
    width: 100%;
}

.texto{
font-weight: 400;
    padding: 50px;
}
.texto p{
    text-align: center;
    font-size: 25px;
}
