
<br>

<h1>Administración Aplicación <span>TERRA PET</span> </h1>
<br>
<br>
<br>
<br>

<div class="container">
    <div class="terra">
        <div class="imagen">
            <img src="../../../assets/Captura de pantalla 2020-06-04 a la(s) 8.32.45 p. m..png" alt="Terra Pet Logo">
        </div>
    </div>
    <div class="app">
        <div class="imagen">
            <img src="../../../assets/Captura de pantalla 2020-06-05 a la(s) 8.43.39 a. m..png" alt="App Lab Logo">
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<div class="texto">
    <p>
        Bienvenid@ adimistrador de Terra-Pet
    </p>
    <br>
    <p>
        Gracias por querer ser parte de  de esta fantabulosa aplicación
    </p>
</div>