*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Portada */

.contenedor_portada{
    width: 100%;
    height: 400px;
    background-image: url(../../../assets/img/imagenes-hosman2/imagenesh/Kiwoko-nombre.jpg);
    background-size: 100%;
    animation: movimiento 10s linear infinite alternate;
    position: relative;
}

@keyframes movimiento{
    from{
        background-position: bottom;
    }to{
        background-position: top;
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left,#5ea25f, #c0b768);
    opacity: 0.5;
} 

.contenedor_detalles{
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 1200px;
    position: relative;
}

.detalles{
    width: 100%;
    margin: auto;
    text-align: center;
    max-width: 500px;
    position: relative;
    top: 60px;
    color: #fff;
}

.detalles h1{
    color: white;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
}

.detalles p{  
    font-size: 18px;
    font-weight: 100;
    color: white;
    justify-content: center;
}

.detalles button{
    padding: 10px 20px;
    font-size: 16px;
    background: #c2d63e;
    border-style: none;
    border: 1px solid white;
    color: #fff;
    margin-top: 20px;
    transition: background 300ms;
    border-radius: 50px;
}

.detalles button:hover{
    background: #5ea25f;
}

/* Articulo */

.contenedor-animais{

    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.importa-adoptar{

    text-align: center;
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #5ea25f;
}

hr{
   background: #5ea25f;
}

.parrafo{
    margin-bottom: 13px;
    font-weight: 500;
    text-align: justify;
    line-height: 24px;
    color: #5ea25f;
    font-size: 20px;
    margin: auto;
} 

/* Galeria*/

.galeria-general{
    background: #5ea25f;
}

.galeria{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative; 
}

.galeria2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imagenes{
    width: 20%;
    height: 400px;
    overflow: hidden;
    position: relative;
}  

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Titul{
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
    padding-top: 20px;
}

/* RESPONSIVE */

/* 600PX */

@media screen and (min-width: 300px){

    .contenedor_portada{
        height: 320px;
    }
    .contenedor-animais{
        padding: 30px 15px;
    }
    .detalles p{
        font-size: 13px;
        font-weight: 300;
        margin: auto;
    }
    .detalles h1{
        font-size: 25px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .importa-adoptar{
        font-size: 20px;
    }
    .parrafo{
        font-size: 14px;
    }
    .detalles button{
        font-size: 10px;
        padding: 8px 18px;
    }
    .imagenes{
        height: 100px;
    }
    .Titul{
        font-size: 20px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 450px){

    .contenedor_portada{
        height: 320px;
    }
    .contenedor-animais{
        padding: 20px 15px;
    }
    .detalles p{
        font-size: 14px;
        font-weight: 300;
        margin: auto;
    }
    .detalles h1{
        font-size: 28px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .importa-adoptar{
        font-size: 27px;
    }
    .parrafo{
        font-size: 15px;
    }
    .detalles button{
        font-size: 13px;
        padding: 9px 19px;
    }
    .imagenes{
        height: 140px;
    }
    .Titul{
        font-size: 27px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 610px){

    .contenedor_portada{
        height: 350px;
    }
    .contenedor-animais{
        padding: 20px 15px;
    }
    .detalles p{
        font-size: 16px;
        font-weight: 300;
        margin: auto;
    }
    .detalles h1{
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .importa-adoptar{
        font-size: 29px;
    }
    .parrafo{
        font-size: 17px;
    }
    .detalles button{
        font-size: 14px;
        padding: 10px 20px;
    }
    .imagenes{
        height: 190px;
    }
    .Titul{
        font-size: 29px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px){

    .contenedor_portada{
        height: 400px;
    }
    .contenedor-animais{
        padding: 30px 15px;
    }
    .detalles p{
        font-size: 18px;
        font-weight: 300;
        margin: auto;
      
    }
    .detalles h1{
        font-size: 32px;
        font-weight: 300;
        margin-bottom: 10px;
    }
    .importa-adoptar{
        font-size: 31px;
    }
    .parrafo{
        font-size: 19px;
    }
    .detalles button{
        font-size: 15px;
        padding: 10px 20px;
    }
    .imagenes{
        height: 230px;
    }
    .Titul{
        font-size: 31px;
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 990px){

    .contenedor_portada{
        height: 400px;
    }
    .contenedor-animais{
        padding: 30px 15px;
    }
    .detalles p{
        font-size: 20px;
        font-weight: 300;
        margin: auto;
      
    }
    .detalles h1{
        font-size: 34px;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .importa-adoptar{
        font-size: 33px;
    }
    .parrafo{
        font-size: 21px;
    }
    .detalles button{
        font-size: 16px;
        padding: 10px 20px;
    }
    .imagenes{
        height: 290px;
    }
    .Titul{
        font-size: 34px;
        margin-bottom: 15px;
    }
}






