*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



/* Portada */

.contenedor_portada{
    width: 100%;
    height: 400px;
    background-image: url(../../../assets/img/imagenes-hosman2/imagenesh/Kiwoko-nombre.jpg);
    background-size: 100%;
    animation: movimiento 10s linear infinite alternate;
    position: relative;
}

@keyframes movimiento{
    from{
        background-position: bottom;
    }to{
        background-position: top;
    }
}

.capa{
    width: 100%;
    height: 100%;
    position: absolute;
    background: -webkit-linear-gradient(left,#5ea25f, #c0b768);
    opacity: 0.5;
} 

.contenedor_detalles{
    width: 80%;
    margin: auto;
    text-align: center;
    max-width: 1200px;
    position: relative;
}

.detalles{
    width: 50%;
    margin: auto;
    text-align: center;
    max-width: 500px;
    position: relative;
    top: 60px;
    color: #fff;
    
}

.detalles h1{
    color: black;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 20px;
    margin-left: 10px;
}


.detalles p{
   
    font-size: 20px;
    font-weight: 100;
    margin-left: 10px;
    margin-right: 20px;
    color: black;
}

.detalles button{
    padding: 10px 20px;
    font-size: 16px;
    background: #c2d63e;
    border-style: none;
    border: 1px solid white;
    color: #fff;
    margin-top: 20px;
    transition: background 300ms;
    border-radius: 50px;
    margin-left: 10px;
}

.detalles button:hover{
    background: #5ea25f;
}

@media screen and (max-width: 768px){
    .detalles p{
        font-size: 16px;
    }
    .detalles h1{
        font-size: 30px;
    }
}

/* Articulo */



.contenedor-animais{

    width: 100%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.importa-adoptar{

    text-align: center;
    font-size: 56px;
    margin-bottom: 30px;
    font-weight: 500;
    color: #5ea25f;
}

hr{
   background: #5ea25f;

}

.parrafo{

    margin-bottom: 13px;
    font-weight: 500;
    text-align: justify;
    line-height: 24px;
    color: #5ea25f
}


@media screen and (max-width: 768px){
    .importa-adoptar{
        font-size: 33px;
    }
    
} 

/* Galeria*/

.galeria-general{
    background: #5ea25f;
}

.galeria{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative; 
}

.galeria2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imagenes{
    width: 20%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 768px){
    .imagenes{
        height: 200px;
    }
    
} 

@media screen and (max-width: 600px){
    .imagenes{
        height: 150px;
    }
    
} 

.imagenes img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Titul{
    text-align: center;
    font-size: 56px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #fff;
    padding-top: 20px;
}

@media screen and (max-width: 768px){
    .Titul{
        font-size: 33px;
    }
    
} 
