
    <div class="contenedor_portada">
        <div class="capa"></div>
        <div class="contenedor_detalles">
            <div class="detalles">
                <h1>Terra Pet</h1>
                <p>Tener una mascota como compañera de vida es una gran decisión, pues conlleva una responsabilidad que
                    hay que asumir con madurez; has de cubrir sus necesidades, tanto físicas como emocionales… Sin
                    embargo, tras un tiempo juntos, pronto descubres nuevas situaciones que no esperabas, pero que te
                    llenan de felicidad y vida cada día...</p>
                <button>Ver las mascotas</button>
            </div>
        </div>
    </div>



    <main>
       <section class="animais">
            <div class="contenedor-animais">
                <h2 class="importa-adoptar">La importancia de adoptar un animalito</h2>
                <hr>
                <p class="parrafo">Cada día un número vergonzoso de perros, gatos y demás animales son abandonados a su suerte por sus
                    dueños. Desgraciadamente eso no podemos evitarlo pero sí podemos hacer algo para contrarrestarlo:
                    Adoptar en vez de comprar.</p>
                <p class="parrafo">Antes de adoptar un animal hay que pensárselo mucho, hay que conocer bien que es lo que buscamos y que
                    le podemos ofrecer, ya sea tiempo, espacio, etc. La adopción, se puede realizar a través de refugios,
                    protectoras, asociaciones de animales, etc. Esta puede llevar consigo un gasto, con el que se paga el
                    microchip y la esterilización del animal, normalmente más barato que si lo lleváramos nosotros a hacer a
                    un veterinario.</p>
                <p class="parrafo">Al adoptar un animal estamos salvándole la vida a él y al nuevo animal que ocupará su lugar y haciendo
                    de él el animal más feliz del mundo, algo que el animal nos va a agradecer eternamente y cuanto mayor
                    sea su edad más amor nos va a demostrar en agradecimiento.</p>
            </div>
        </section>
    </main>
    <section class="galeria-general">
        <h2 class="Titul">Galeria de Mascotas</h2>
        <section class="galeria">
            
            <!-- <div class="sesgoarriba"></div> -->
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/moñin.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/copi.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/chancho.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/sasha.jpeg" alt="">  
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/cony.jpg" alt="">
            </div>
        </section>
            <!-- <div class="sesgoabajo"></div> -->

            <section class="galeria2"> 
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/ratona.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/ñingos.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/ñegra.jpeg" alt="">
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/ñegra2.jpeg" alt="">  
            </div>
            <div class="imagenes">
                <img src="../../../assets/img/imagenes-hosman2/imagenesh/bunny2.jpg" alt="">
            </div>
            </section>
    </section>

