<!-- <h1>Selecionado</h1>
<br>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" routerLink="/">TERRA ANIMAL IMAGES</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos">NUESTROS PELUDITOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/photos/new">CARGA AL PELUDITO CON MUCHO AMOR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/solicitudes">SOLICITUDES</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="row" *ngIf="!photo; else main_content">
    <h1>Loading...</h1>
</div>
<ng-template #main_content>
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <img [src]="'http://localhost:5000/' + photo.imagePath" class="img-fluid">
            </div>
        </div>
        <div class="col-md-7">
            <div class="card">
                <form class="card-body" (submit)="updatePhoto(title, description)">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Photo's Title" [value]="photo.title" #title>
                    </div>
                    <div class="form-group">
                        <textarea rows="2" class="form-control" placeholder="Photo's Description" [value]="photo.description" #description></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">
                        Update
                    </button>
                </form>
            </div>
        </div>
    </div>
    <button class="btn btn-danger" (click)="deletePhoto(photo._id)">
        Delete
    </button>
</ng-template> -->