/* You can add global styles to this file, and also import other style files */
.mp{
    width: 100%;
    background: #5b5772;
   
  
}
iframe{
    border-radius: 100px;
}  .mp1{
        
    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
    
}