.contimg {
    width: 70%;
}

.classimg {
    width: 100%;
}

.mp {
    width: 100%;
    background: #5b5772;


}

iframe {
    border-radius: 100px;
}

.mp1 {

    width: 50%;
    margin: auto;
    margin-top: 15px;
    text-align: center;
    padding: 10px;

}

.imagen {
    width: 100%;
        img {
        width: 100%;
        height: 250px;
    }
}