<!--PAGINA LOGIN-->
<div class="body">
    <br>
    <div class="contenedor-form">
    <div class="toggle">
        <span><a style="text-decoration: none; color: white;" routerLink="/login">Login</a></span>
    </div>
    <div class="formulario">
        <h2>Crea tu Cuenta</h2>
        <form #DataFormulario="ngForm" (ngSubmit)="formularioUp()">
            <input type="text" placeholder="A que te dedicas?" name="ocupation" #nombre="ngModel"
                [(ngModel)]="Producto.ocupation" autofocus required>
            <input type="text" placeholder="Ingresos" #nombre="ngModel" [(ngModel)]="Producto.income" required
                name="income">
            <input type="text" placeholder="Mascota de interes" name="pet" #nombre="ngModel" [(ngModel)]="Producto.pet">
            <input type="text" placeholder="Nombre" name="name" #nombre="ngModel" [(ngModel)]="Producto.name" required>
            <input type="password" placeholder="Constraseña" name="password" #nombre="ngModel"
                [(ngModel)]="Producto.password" required>
            <input type="email" placeholder="Correo Electronico" name="email" #nombre="ngModel"
                [(ngModel)]="Producto.email" required>
            <input type="text" placeholder="Dirección" name="adress" #nombre="ngModel" [(ngModel)]="Producto.adress">
            <input type="text" placeholder="Telefono" name="phone" #nombre="ngModel" [(ngModel)]="Producto.phone">
            <br>
            <button type="submit">Enviar</button>
            <!-- <input type="submit" value="Registrarse">-->
        </form>


    </div>
</div>
</div>
