* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: url(../src/app/login/img/animals.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Sniglet', cursive;
    padding-top: 30px;

}

.contenedor-form {
    background: rgba(0, 0, 0, 0.7); /*color del cuandro grande total*/
    background-color: #5b5772 ;
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}


/*COLORES*/
/*
#c0b768  PRIMERO
#c2d63e  SEGUNDO
#5ea25f  TERCERO
#5b5772  CUARTO
#bc6c04  QUINTO

font-family: 'Caladea', serif;
font-family: 'Sniglet', cursive;
*/


.contenedor-form .toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 100px;
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #c0b768 ;
    border-bottom: 2px solid #c0b768 ;
    cursor: pointer;
    transition: all .5s ease;
    font-family: 'Caladea', serif;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #bc6c04;
    border-bottom: 2px solid #bc6c04;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5); /*sombra de los cuadros de texto por dentro*/
    background-color: #c2d63e ;
    color: black;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #bc6c04;
    box-sizing: border-box;
    font-family: 'Caladea', serif;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #5ea25f ;
}

.contenedor-form input[type="submit"] {
    background: #5ea25f ;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;   
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #bc6c04 ;
}

.contenedor-form .reset-password {
  /*  background: rgba(0, 117, 217, .7);*/
    width: 100%;
    padding: 15px 0;
    text-align: center;
  /*  border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}


/*BOTON CANCELAR ENVIAR*/
.contenedor-form .formulario .reset-password{
    background:#5ea25f ;
    color: #FFF;
    width: 50%;
    border: none;
   /* padding: 10px 0;*/
    font-weight: normal;
    font-family: 'Sniglet', cursive;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
    margin: 5px;
}

.padre{
    display: flex;
    justify-content: center;
}

.contenedor-form .formulario .reset-password:hover {
    background: #bc6c04;
}