<!--PAGINA LOGIN-->
<div class="contenedor-form">
    
    <div class="formulario">
        <h2>Crea tu Cuenta</h2>
        <form action="#">
            <input type="text" placeholder="A que te dedicas?" required>
            <input type="text" placeholder="Ingresos">
            <input type="text" placeholder="Mascota de interes">
            <input type="text" placeholder="Usuario" required>
            <input type="password" placeholder="Constraseña" required>
            <input type="email" placeholder="Correo Electronico" required>
            <input type="text" placeholder="Dirección">
            <input type="text" placeholder="Telefono">

       <!-- <input type="submit" value="Registrarse">--> 
        </form>

    <div class="padre">
        <div class="reset-password">
        <a href="#">Cancelar</a>
    </div> 
    <div class="reset-password">
        <a href="#">Enviar</a>
    </div> 
    </div>
    

    </div>
</div>
