<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
  integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
  crossorigin="anonymous"
/>
<br />
<div style="width: 100%;" class="container">
  <div class="container mx-auto">
    <div class="calendar">
      <div class="header-calendar">
        <ul>
          <li class="prev">&#10094;</li>
          <li class="next">&#10095;</li>
          <li>Junio <span>2020</span></li>
        </ul>
      </div>

      <ul class="weekdays">
        <li>Do</li>
        <!-- Domingo -->
        <li>Lu</li>
        <!-- Lunes -->
        <li>Ma</li>
        <!-- Martes -->
        <li>Mi</li>
        <!-- Miércoles -->
        <li>Ju</li>
        <!-- Jueves -->
        <li>Vi</li>
        <!-- Viernes -->
        <li>Sá</li>
        <!-- Sábado -->
      </ul>

      <ul class="days">
        <li>31</li>
        <li>
          1
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              Adopciones
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>
          5
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              Adopciones
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>6</li>
        <li>7</li>
        <li>
          8
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              Adopciones
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>9</li>
        <li>10</li>
        <li>
          11
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              rescate
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>12</li>
        <li>
          13
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              esterilización
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>14</li>
        <li>15</li>
        <li>
          16
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              rescate
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>17</li>
        <li>18</li>
        <li>19</li>
        <li>
          20
          <div class="evento">
            <p>
              <br />
              Jornada <br />
              Donaciones
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>21</li>
        <li>22</li>
        <li>23</li>
        <li class="active">
          24
          <div class="evento">
            <p>
              <br />Reunión<br />
              empresarial
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>25</li>
        <li>26</li>
        <li>27</li>
        <li>
          28
          <div class="evento">
            <p>
              <br />
              Campaña <br />
              esterilización
            </p>
            <img
              class="eventoi"
              width="100%"
              src="https://i.pinimg.com/236x/a7/87/88/a78788d285a647701307d615d5d2a08b--mario-birthday-cake-mario-birthday-party-printables.jpg"
              alt=""
            />
          </div>
        </li>
        <li>29</li>
        <li>30</li>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
      </ul>
    </div>
  </div>
</div>

<div class="container pd-5">
    <br>
    
    <div class="listaeventos">
        <ul>
            <li>1: Campaña adopciones</li>
            <li>5: Campaña adopciones</li>
            <li>8: Campaña adopciones</li>
            <li>11: Campaña rescate</li>
            <li>13: Campaña esterilización</li>
            <li>16: Campaña rescate</li>
            <li>20: Jornada donaciones</li>
            <li>24: Reunión empresarial</li>
            <li>28: Campaña esterilización</li>
        </ul>
    </div>
    <br>
</div>